@charset "euc-kr";
	/* 리셋
	----------------*/
		html { font-size:100.02%; }

		html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
		 font-family:inherit;
		 margin:0;
		 padding:0;
		 border:0;
		 vertical-align:baseline;
		}
		body {
		 color:black;
		 background-color:transparent;
		}
		em {
		 font-style:normal;
		}
		ol, ul {
		 list-style:none;
		}
		table {
		 border-collapse:separate;
		 border-spacing:0;
		}
		caption, th, td {
		 font-weight:normal;
		 vertical-align:middle;
		}
		blockquote:before, blockquote:after, q:before, q:after {
		 content:"";
		}
		blockquote, q {
		 quotes:"" "";
		}
		textarea {
		 overflow:auto;
		}
		hr, legend {
		 display:none;
		}
		a {
		 color:#484848;
		 text-decoration:none;
		}
		select {
		 font-size:11px;
		 font-family:"AppleGothic", Verdana, Tahoma, Arial, sans-serif;
		 vertical-align:middle;
		}
		input,
		textarea {
		 font-family:"AppleGothic", Verdana, Tahoma, Arial, sans-serif;
		 vertical-align:middle;
		}

		img{
		 vertical-align:top;
		}
		table img{
		 vertical-align:middle;
		}

.float_wrap:after{
	content:' ';
	clear:both;
	display:block;
	visibility:hidden;
}
*+ html .float_wrap{display:inline-block;}
* html .float_wrap{height:1%;}
.align_right{text-align:right;}
.align_left{text-align:left;}
.align_center{text-align:center;}
.hidden_word{position:absolute;top:0;left:0;text-indent:-9999px;display:block;font-size:0;}


h1,h2,h3,h4,h5,h6{font-size:100%;}
